@use '../../styles/_var' as var

.container
    width: var.$section-width
    margin-top
    display: flex
    align-items: center
    justify-content: space-between

    .navbar
        width: 77%
        transform: translate(-0.8rem)

        ul
            display: flex
            justify-content: space-between

            .nav
                padding: 0.7rem
                font-size: 1.5rem
                font-weight: 600
                color: var.$color-black
                border-radius: 1.2rem
                transition: all 0.2s linear
                cursor: pointer

                &:hover
                    background-color: var.$color-yellow

            .nav_active
                color: var.$color-yellow

    .logo_scroll
        margin-right: 1rem

    .login
        padding: 0.6rem 1rem
        font-size: 1.6rem
        font-weight: 700
        color: #696F7A
        border-radius: 10px
        transition: all 0.2s linear

        &:hover
            color: var.$color-yellow
            background-color: #696f7a99

    .basket
        margin-left: 1.2rem
        width: 160px
        height: 42px
        background-color: var.$color-yellow
        border-radius: 0.8rem
        font-weight: 700
        font-size: 1.6rem
        color: #231F20
        transition: all 0.2s linear

        &:hover
            box-shadow: 0 0 0 0.2rem #0000001a

// ! media screen

@media screen and (max-width: 1200px)
