@use "styles/_var.module.scss" as *;

.button_size_container,
.button_dough_container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.button_size_container {
    column-gap: 1rem;
}

.button_dough_container {
    column-gap: 1.2rem;
}

@media screen and (max-width: 1100px) {
    .button_size_container,
    .button_dough_container {
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
    }
}
