@use '../../../styles/_var' as var

.main_contact
    margin-top: 155px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    overflow: hidden
    align-content: space-between

.container
    width: var.$section-width
    display: flex
    flex-direction: column

    .yandex_map 
        border-radius: 14px
    
    .number
        margin-top: 43px
        font-weight: 700
        font-size: 38px
        color: var.$color-yellow

    h1
        font-weight: 700
        font-size: 26px
        margin-top: 18px
   
    p
        font-weight: 600
        font-size: 15px
        margin-top: 10px
