@use "styles/_var.module.scss" as *;

.container {
    width: 500px;
    display: flex;
    flex-direction: column;

    .logo {
        justify-self: flex-start;
        width: 90px;
        height: 66px;
    }
    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 3.3rem;
    }

    .social_network {
        margin-top: 2rem;
        display: grid;
        grid-template-areas: "A B C" "D F C";
        column-gap: 7rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        .payment_systems {
            transform: translate(5rem);
        }
    }
}
