@use "styles/_var.module.scss" as *;

.container {
    position: relative;
    width: 50%;
    background: #fff;
    border-radius: 1.2rem;
    display: flex;
    z-index: 1;
    padding-bottom: 6rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
