@use '/src/app/sass/_var.sass' as var

.container
    position: relative
    width: 50%
    height: 40rem
    background: #fff
    border-radius: 1.2rem
    display: flex
    align-items: center
    z-index: 1

    &_disabled
        animation: disabledContainer 0.5s ease

    &_enabled
        animation: enabledContainer 0.5s ease

.close
    position: absolute
    top: 1.5rem
    right: 1.5rem

@keyframes enabledContainer
    0%
        opacity: 0

@keyframes disabledContainer
    100%
        opacity: 0
