@use "styles/_var.module.scss" as *;

.burger_root {
    background: url("/assets/icons/ui/burger-button.png") no-repeat center center;
    width: 46px;
    height: 46px;
    margin-left: 2rem;

    &_enter_active {
        transform: rotate(90deg);
        transition: all 0.5s linear;
    }

    &_enter_done {
        transform: rotate(90deg);
    }

    &_exit {
        transform: rotate(90deg);
    }

    &_exit_active {
        transform: rotate(0);
        transition: all 0.5s linear;
    }
}
