@use '../../../styles/_var' as var

.container
    width: var.$section-width
    display: flex
    align-items: center
    flex-direction: column
    margin-top: 6.4rem
    padding-bottom: 6.2rem

    h1
        font-size: 4.4rem
        font-weight: 800
        color: #0E0C0D

        span
            color: var.$color-yellow

    .model_woman
        position: absolute
        right: 0
        transform: translate(0, 50%)
        z-index: 0

.promotion
    &_content
        width: 100%
        margin-top: 4.7rem
        display: grid
        grid-template-areas: "A A B C" "A A D E"
        column-gap: 3%
        row-gap: 7%
        z-index: 1

    &_card
        &:nth-of-type(1)
            grid-area: A

        &:nth-of-type(2)
            grid-area: B

        &:nth-of-type(3)
            grid-area: C

        &:nth-of-type(4)
            grid-area: D

        &:nth-of-type(5)
            grid-area: E

        img
            border-radius: 2rem
            transition: all 0.1s linear
            cursor: pointer

            &:hover
                box-shadow: 0 0 2.4rem 0 #00000035
    &_link
        margin-top: 4.8rem
        padding: 1rem 3.4rem
        background-color: var.$color-yellow
        color: #fff
        border-radius: 2.3rem
        font-size: 1.4rem
        font-weight: 700
        line-height: 2.8rem
        transition: all 0.1s linear
        z-index: 1

        &:hover
            box-shadow: 0 0.8rem 2.4rem 0 #00000035
            color: #000

@media screen and ( max-width: 1600px )
    .container
        .model_woman
            opacity: 0.2

@media screen and ( max-width: 1200px )
    .container
        width: auto

        h1
            font-size: 4rem
    .promotion
        &_content
            grid-template-areas: "A A" "A A" "B C" "D E"
            row-gap: 3%

        &_link
            margin-top: 10rem

@media screen and ( max-width: 600px )
    .container
        width: 90%

    .promotion
        &_card
            img
                width: 100%
