@use '../../../../assets/styles/_var' as var

.call_number_root
    padding: 0.8rem
    // margin-left: 1.5rem
    // transform: translate(1rem)
    color: var.$color-yellow
    font-size: 2.6rem
    font-weight: 700
    border-radius: 1.7rem
    white-space: nowrap

    &:hover
        background-color: #f7d22d15
