@use '../../../styles/_var' as var

.basket
    width: 100%
    height: 100%
    margin-top: 13.5rem
    display: flex
    align-items: center

.container
    width: 800px
    display: flex
    flex-direction: column

    h1
        margin-top: 2rem
        margin-bottom: 3rem
        font-weight: 800
        font-size: 3.6rem
        color: var.$color-yellow

    .clear_basket
        margin: 20rem 0
        text-align: center
        font-weight: 800
        font-size: 3.6rem
        color: var.$color-red

        .button_home
            font-weight: 800
            font-size: 3.6rem
            color: var.$color-yellow

.footer
    width: 100%
    display: flex
    flex-direction: column

    h3
        font-size: 2.2rem
        font-weight: 600
        margin-top: 4.3rem
        color: var.$color-red

.footer_content
    width: 100%
    height: 100px
    margin-top: 2.7rem
    display: flex
    justify-content: space-between
    align-items: start
    flex-wrap: nowrap

    .promo
        &_code
            display: flex
            flex-direction: column

            &_result
                margin: 1rem 0 0 0.3rem
                font-size: 1.3rem

                &_success
                    color: var.$color-yellow

                &_fail
                    color: var.$color-red

        &_check
            width: 220px
            height: 40px
            padding-left: 2.4rem
            border: 0.15rem solid #E2E2E9
            border-right: none
            border-radius: 0.8rem 0 0 0.8rem
            font-size: 1.3rem
            font-weight: 600
            outline: none

            &:focus
                border: 0.15rem solid var.$color-yellow
                border-right: none

        &_check_disabled
            pointer-events: none

        &_enter
            width: 133px
            height: 43px
            background-color: var.$color-yellow
            border-radius: 0 0.8rem 0.8rem 0
            font-size: 1.3rem
            font-weight: 700
            color: #231F20

        &_enter_disabled
            pointer-events: none
            background-color: #F3F3F7

    .summary
        font-size: 2.4rem
        font-weight: 600

        span
            font-size: 3.6rem
            font-weight: 800
            color: var.$color-yellow
            margin-left: 1.5rem

.footer_navigation
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

    .back
        padding-left: 2.5rem
        font-size: 1.5rem
        font-weight: 700
        color: #696F7A
        position: relative

        &::before
            width: 10px
            height: 19px
            content: ""
            background: url('../../../icons/basket/footer/back_arrow.png') no-repeat center
            position: absolute
            left: 0
            transition: 0.2s all linear

        &:hover::before
            transform: translate(-0.5rem, 0)

    .place_order
        width: 224px
        height: 55px
        background-color: var.$color-yellow
        border-radius: 0.8rem
        font-size: 1.5rem
        font-weight: 800
        color: #231F20

        &::after
            margin-left: 1.4rem
            width: 7px
            height: 19px
            content: ""
            background: url('../../../icons/basket/footer/next_arrow.png') no-repeat center
            position: absolute
            transition: 0.2s all linear

        &:hover::after
            transform: translate(0.5rem, 0)

@media screen and ( max-width: 1200px )

    .container
        width: 90%

        .clear_basket
            margin: 10rem 0

@media screen and ( max-width: 800px )

    .footer
        h3
            text-align: center

    .footer_content
        height: 130px
        flex-direction: column
        align-items: center
        row-gap: 2rem

    .footer_navigation
        margin-top: 4rem

@media screen and ( max-width: 500px )

    .footer_content
        .promo
            &_code
                width: 100%

            &_check
                width: 50%

            &_enter
                width: 40%

    .footer_navigation
        flex-direction: column
        row-gap: 3rem
