@use '../../../../assets/styles/_var' as var

.login_root
    padding: 0.6rem 1rem
    font-size: 1.6rem
    font-weight: 700
    color: #696F7A
    border-radius: 1rem
    transition: all 0.2s linear
    background-color: inherit

    &:hover
        color: var.$color-yellow
        background-color: #696f7a99