@use "styles/_var.module.scss" as *;

.card {
    &:nth-of-type(1) {
        grid-area: A;
    }

    &:nth-of-type(2) {
        grid-area: B;
    }

    &:nth-of-type(3) {
        grid-area: C;
    }

    &:nth-of-type(4) {
        grid-area: D;
    }

    &:nth-of-type(5) {
        grid-area: E;
    }

    img {
        border-radius: 2rem;
        transition: all 0.1s linear;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 2.4rem 0 #00000035;
        }
    }
}

@media screen and (max-width: 600px) {
    .card {
        img {
            width: 100%;
        }
    }
}
