@use "styles/_var.module.scss" as *;

.basket {
    width: 100%;
    height: 100%;
    margin-top: 13.5rem;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    width: 800px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}
