@use '../../../styles/_var' as var

.container
    width: 1920px
    padding-top: 130px
    display: flex
    align-items: center
    justify-content: center

.point
    width: 31px
    height: 31px
    background-color: var.$color-yellow
    border-radius: 2.7rem
    position: absolute
    z-index: 10
    display: flex
    justify-content: center
    align-items: center

.point::before
    content: ""
    position: absolute
    width: 9px
    height: 14px

.left_point
    transform: translate(-52.3rem)

.left_point::before
    background: url('../../../icons/slider/left_point.png') no-repeat
    transform: translate(-1px, -1px)

.right_point
    transform: translate(52.3rem)

.right_point::before
    background: url('../../../icons/slider/right_point.png') no-repeat
    transform: translate(1px, 0)

@media screen and (max-width: 1200px)

    .container
        width: 90%
        font-size: 8px
    
    .left_point
        transform: translate(0)
        left: 5%
    
    .right_point
        transform: translate(0)
        right: 5%

@media screen and (max-width: 900px)

    .container
        font-size: 6px
        justify-content: flex-start
        transform: translate(-300px)
    
    .left_point
        transform: translate(300px)
        left: 0
    
    .right_point
        transform: translate(300px)
        right: 0

@media screen and (max-width: 700px)
    .container
        font-size: 5px
        transform: translate(-250px)
    
    .left_point
        transform: translate(250px)
    
    .right_point
        transform: translate(250px)

// ! Fake img

.fake_img
    display: none
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.fake_img_enter
    display: block
    transform: translate(0)

.fake_img_enter_active
    transform: translate(-230px)
    transition: all 0.5s linear

.fake_img_enter_done
    transform: translate(-230px)

.fake_img_enter_left
    display: block
    transform: translate(0)

.fake_img_enter_active_left
    transform: translate(230px)
    transition: all 0.5s linear

.fake_img_enter_done_left
    transform: translate(230px)


// ! Swipe right

.img_enter_0
    transform: translate(0)
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_active_0
    transform: translate(-230px)
    width: 47.8em
    height: 27.6em
    transition: all 0.5s linear

.img_enter_done_0
    transform: translate(-230px)
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_0
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_active_0
    transition: all 0.5s linear
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_done_0
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_1
    transform: translate(0)
    width: 56em
    height: 32.2em

.img_enter_active_1
    transform: translate(-230px)
    transition: all 0.5s linear
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_done_1
    transform: translate(-230px)
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_1
    width: 56em
    height: 32.2em

.img_exit_active_1
    width: 56em
    height: 32.2em

.img_exit_done_1
    width: 56em
    height: 32.2em

.img_enter_2
    transform: translate(0)
    width: 56em
    height: 32.2em

.img_enter_active_2
    transform: translate(-230px)
    transition: all 0.5s linear
    width: 56em
    height: 32.2em

.img_enter_done_2
    transform: translate(-230px)
    width: 56em
    height: 32.2em

.img_exit_2
    width: 56em
    height: 32.2em

.img_exit_active_2
    width: 56em
    height: 32.2em

.img_exit_done_2
    width: 56em
    height: 32.2em

.img_enter_3
    transform: translate(0)
    opacity: 0.7
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_active_3
    transform: translate(-230px)
    width: 56em
    height: 32.2em
    opacity: 1
    transition: all 0.5s linear
    
.img_enter_done_3
    transform: translate(-230px)
    width: 56em
    height: 32.2em
    opacity: 1

.img_exit_3
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_active_3
    transition: all 0.5s linear
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_done_3
    width: 47.8em
    height: 27.6em
    opacity: 0.7
       
// ! Swipe Left

.img_enter_left_0
    transform: translate(0)
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_active_left_0
    transform: translate(230px)
    width: 56em
    height: 32.2em
    opacity: 1
    transition: all 0.5s linear

.img_enter_done_left_0
    transform: translate(230px)
    width: 56em
    height: 32.2em
    opacity: 1

.img_exit_left_0
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_active_left_0
    transition: all 0.5s linear
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_done_left_0
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_left_1
    transform: translate(0)
    width: 56em
    height: 32.2em

.img_enter_active_left_1
    transform: translate(230px)
    width: 56em
    height: 32.2em
    transition: all 0.5s linear

.img_enter_done_left_1
    width: 56em
    height: 32.2em
    transform: translate(230px)

.img_exit_left_1
    width: 56em
    height: 32.2em

.img_exit_active_left_1
    width: 56em
    height: 32.2em

.img_exit_done_left_1
    width: 56em
    height: 32.2em

.img_enter_left_2
    transform: translate(0)
    width: 56em
    height: 32.2em
    opacity: 1

.img_enter_active_left_2
    transform: translate(230px)
    width: 47.8em
    height: 27.6em
    opacity: 0.7
    transition: all 0.5s linear

.img_enter_done_left_2
    transform: translate(230px)
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_left_2
    width: 56em
    height: 32.2em

.img_exit_active_left_2
    width: 56em
    height: 32.2em

.img_exit_done_left_2
    width: 56em
    height: 32.2em

.img_enter_left_3
    transform: translate(0)
    opacity: 0.7
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_enter_active_left_3
    transform: translate(230px)
    transition: all 0.5s linear
    
.img_enter_done_left_3
    transform: translate(230px)
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_left_3
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_active_left_3
    transition: all 0.5s linear
    width: 47.8em
    height: 27.6em
    opacity: 0.7

.img_exit_done_left_3
    width: 47.8em
    height: 27.6em
    opacity: 0.7
