@use "styles/_var.module.scss" as *;

.container {
    background-color: #fff;
    border-radius: 1.6rem;
    z-index: 1;

    &_enabled {
        animation: forwards popupContentEnabled 0.5s ease;
    }

    &_loading {
        animation: forwards popupContentLoading 1s ease;
    }

    &_disabled {
        animation: forwards popupContentDisabled 0.5s ease;
    }

    .loader,
    .error {
        padding: 5rem;
    }
}

@keyframes popupContentEnabled {
    0% {
        transform: scale(0.5);
    }
}

@keyframes popupContentLoading {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes popupContentDisabled {
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 880px) {
    .container {
        width: 80%;
    }
}
