@use "styles/_var.module.scss" as *;

.main_img {
    width: 100%;
}

.card {
    padding: 3rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.8rem;
    }

    p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
        color: #797979;
        margin-top: 1.5rem;
    }

    .closed {
        margin-top: 2rem;
        width: 159px;
        height: 45px;
        background-color: $color-yellow;
        color: #473e43;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 0.8rem;

        &:hover {
            box-shadow: 0 0 2.4rem 0 #f7d22d4c;
        }
    }
}
